# _Data Preparation and Cleaning_

__While the survey responses contain a lot of information, we are going to limit our analysis to the following areas:__

#### - Demographics
#### - Programming skills, experience, preferences, etc
#### - Employment-related information, preferences & opinions

Firstly, import the __Data_loading__ notebook to use here.

In [1]:
%run Data_loading.ipynb

__Let's select a subset of columns with relavant data for analysis.__

In [2]:
survey_raw_df.columns

Index(['ResponseId', 'MainBranch', 'Age', 'Employment', 'RemoteWork', 'Check',
       'CodingActivities', 'EdLevel', 'LearnCode', 'LearnCodeOnline',
       ...
       'JobSatPoints_6', 'JobSatPoints_7', 'JobSatPoints_8', 'JobSatPoints_9',
       'JobSatPoints_10', 'JobSatPoints_11', 'SurveyLength', 'SurveyEase',
       'ConvertedCompYearly', 'JobSat'],
      dtype='object', length=114)

In [3]:
survey_raw_df

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65432,65433,I am a developer by profession,18-24 years old,"Employed, full-time",Remote,Apples,Hobby;School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","On the job training;School (i.e., University, ...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65433,65434,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65434,65435,I am a developer by profession,25-34 years old,"Employed, full-time",In-person,Apples,Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Stack Overflow;Social ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65435,65436,I am a developer by profession,18-24 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Apples,Hobby;Contribute to open-source projects;Profe...,"Secondary school (e.g. American high school, G...",On the job training;Other online resources (e....,Technical documentation;Blogs;Written Tutorial...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
65436,65437,I code primarily as a hobby,18-24 years old,"Student, full-time",NaN,Apples,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
survey_selected_columns = [
    # Demograhpics
    'Country',
    'Age',
    'EdLevel',
    #Programming experience
    'LearnCode',
    'YearsCode',
    'YearsCodePro',
    'LanguageHaveWorkedWith',
    'WebframeHaveWorkedWith',
    'AIToolCurrently Using',
    #Employment related stuff
    'Employment',
    'RemoteWork',
    'DevType',
    'JobSat',
    'Industry',
]

schema_selected_columns = [
    # Demograhpics
    'Country',
    'Age',
    'EdLevel',
    #Programming experience
    'LearnCode',
    'YearsCode',
    'YearsCodePro',
    'Language',
    'Webframe',
    'AITool',
    #Employment related stuff
    'Employment',
    'RemoteWork',
    'DevType',
    'JobSat',
    'Industry',
]

In [5]:
len(survey_selected_columns)

18

In [6]:
len(schema_selected_columns)

15

Let's extract a copy of data from these columns into a new data frame __'survey_df'__, which we can continue to modify further without affecting the original data frame.

In [7]:
survey_df = survey_raw_df[survey_selected_columns].copy()

In [8]:
schema = schema_raw[schema_selected_columns]

Let's view some basic information about the data frame.

In [9]:
survey_df.shape

(65437, 18)

In [10]:
schema.shape

(15,)

In [11]:
survey_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65437 entries, 0 to 65436
Data columns (total 18 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        58930 non-null  object
 1   Age                            65437 non-null  object
 2   EdLevel                        60784 non-null  object
 3   LearnCode                      60488 non-null  object
 4   YearsCode                      59869 non-null  object
 5   YearsCodePro                   51610 non-null  object
 6   LanguageHaveWorkedWith         59745 non-null  object
 7   LanguageWantToWorkWith         55752 non-null  object
 8   WebframeHaveWorkedWith         45161 non-null  object
 9   WebframeWantToWorkWith         38535 non-null  object
 10  AIToolCurrently Using          35072 non-null  object
 11  AIToolInterested in Using      30691 non-null  object
 12  AIToolNot interested in Using  24414 non-null  object
 13  Employment                     65437 non-null  object
 14  RemoteWork                     54806 non-null  object
 15  DevType                        59445 non-null  object
 16  JobSat                         29126 non-null  float64
 17  Industry                       28858 non-null  object
dtypes: float64(1), object(17)
memory usage: 9.0+ MB

Most columns have the data type __objects__, either because they contains values of different types, or they contain empty values, which are represented using __NaN__. It appears that some of the columns contains some empty values, since the Not-Null count for many columns is lower than the total number of rows(65437).

We'll have to deal with empty values and manually adjust the data type for each column on a case-by-case basis.

Only two one column has dtype as numeric column(JobSat), even though there are few other columns which have mostly numeric values. To make our analysis earsier, let's convert some other columns into numeric data types, while ignoring any non-numeric value.

In [12]:
schema.YearsCode    # questions

'Including any education, how many years have you been coding in total?'

In [13]:
survey_df.YearsCode.unique()    # unique answers

array([nan, '20', '37', '4', '9', '10', '7', '1', '15', '30', '31', '6',
       '12', '22', '5', '36', '25', '44', '24', '18', '3', '8',
       'More than 50 years', '11', '29', '40', '39', '2', '42', '34',
       '19', '35', '16', '33', '13', '23', '14', '28', '17', '21', '43',
       '46', '26', '32', '41', '45', '27', '38', '50', '48', '47',
       'Less than 1 year', '49'], dtype=object)

In [14]:
schema.YearsCodePro

'NOT including education, how many years have you coded professionally (as a part of your work)?'

In [15]:
survey_df.YearsCodePro.unique()

array([nan, '17', '27', '7', '11', '25', '12', '10', '3',
       'Less than 1 year', '18', '37', '15', '20', '6', '2', '16', '8',
       '14', '4', '45', '1', '24', '29', '5', '30', '26', '9', '33', '13',
       '35', '23', '22', '31', '19', '21', '28', '34', '32', '40', '50',
       '39', '44', '42', '41', '36', '38', 'More than 50 years', '43',
       '47', '48', '46', '49'], dtype=object)

In [16]:
survey_df['YearsCode'] = pd.to_numeric(survey_df.YearsCode, errors='coerce')
survey_df['YearsCodePro'] = pd.to_numeric(survey_df.YearsCodePro, errors='coerce')

Let's now see some __basic statistics__ about the numeric columns.

In [17]:
survey_df.describe()

          YearsCode  YearsCodePro        JobSat
count  59046.000000  48704.000000  29126.000000
mean      14.175998     10.739652      6.935041
std       10.361047      8.935175      2.088259
min        1.000000      1.000000      0.000000
25%        6.000000      4.000000      6.000000
50%       11.000000      8.000000      7.000000
75%       20.000000     15.000000      8.000000
max       50.000000     50.000000     10.000000

These are only three numeric value columns and the data is almost cleaned and ready for the analysis. Let's look at the sample of rows from the data frame.

In [18]:
survey_df.sample(10)

,Country,Age,EdLevel,LearnCode,YearsCode,YearsCodePro,LanguageHaveWorkedWith,LanguageWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,AIToolCurrently Using,AIToolInterested in Using,AIToolNot interested in Using,Employment,RemoteWork,DevType,JobSat,Industry
17922,Australia,35-44 years old,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;On the job training;Oth...,24.0,20.0,Bash/Shell (all shells);Java,Assembly;C++;GDScript,NaN,NaN,Learning about a codebase;Writing code;Documen...,Testing code;Search for answers;Generating con...,Project planning;Committing and reviewing code...,"Employed, full-time","Hybrid (some remote, some in-person)","Developer, back-end",7.0,Other:
565,United States of America,35-44 years old,"Associate degree (A.A., A.S., etc.)",Books / Physical media;Other online resources ...,15.0,15.0,C#;HTML/CSS;PowerShell;Python;SQL;VBA;Visual B...,C#;Visual Basic (.Net),Blazor,NaN,Documenting code;Debugging and getting help,Learning about a codebase,Project planning;Writing code;Testing code;Com...,"Employed, full-time",Remote,"Developer, full-stack",NaN,NaN
51323,Kenya,18-24 years old,Some college/university study without earning ...,Other (please specify):,1.0,NaN,HTML/CSS;Java,JavaScript;Kotlin;PHP;Rust,Yii 2,Laravel;Node.js;React;Spring Boot,Project planning;Testing code,Documenting code,Writing code,"Not employed, but looking for work;Not employe...",NaN,"Developer, mobile",NaN,NaN
25246,India,Under 18 years old,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",NaN,NaN,C;C++;HTML/CSS;JavaScript;MATLAB;Python;SQL,Bash/Shell (all shells);C;C++;Elixir;Go;Java;J...,jQuery,Angular;AngularJS;ASP.NET;ASP.NET CORE;Django;...,Project planning;Writing code;Testing code;Sea...,Learning about a codebase;Documenting code;Deb...,NaN,"Student, part-time",NaN,Student,NaN,NaN
62543,Spain,35-44 years old,"Secondary school (e.g. American high school, G...",Books / Physical media;Other (please specify):,9.0,7.0,Bash/Shell (all shells);Go;HTML/CSS;JavaScript...,Bash/Shell (all shells);Go;Rust;SQL,Laravel;Node.js;Symfony;Vue.js,NaN,Learning about a codebase;Search for answers;G...,NaN,Project planning;Writing code;Documenting code...,"Employed, full-time","Hybrid (some remote, some in-person)","Developer, back-end",7.0,Healthcare
14883,Netherlands,Under 18 years old,"Secondary school (e.g. American high school, G...",Books / Physical media;Other online resources ...,6.0,NaN,Bash/Shell (all shells);HTML/CSS;JavaScript;Ko...,Bash/Shell (all shells);C;Haskell;HTML/CSS;Pyt...,Flask;jQuery,NaN,Writing code;Documenting code;Debugging and ge...,Learning about a codebase;Search for answers,Project planning;Testing code;Committing and r...,"Student, full-time",NaN,Student,NaN,NaN
20649,India,25-34 years old,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",On the job training;Other online resources (e....,5.0,3.0,HTML/CSS;Java;JavaScript,Kotlin,jQuery;Spring Boot,Angular;AngularJS;React,Writing code;Debugging and getting help;Search...,Learning about a codebase;Documenting code;Tes...,Project planning,"Employed, full-time",In-person,"Developer, full-stack",7.0,Computer Systems Design and Services
45870,New Zealand,35-44 years old,"Professional degree (JD, MD, Ph.D, Ed.D, etc.)","Other online resources (e.g., videos, blogs, f...",6.0,6.0,R;SQL,R;SQL,NaN,NaN,NaN,NaN,NaN,"Employed, full-time",In-person,Data or business analyst,NaN,NaN
48468,United States of America,55-64 years old,"Secondary school (e.g. American high school, G...",On the job training;Other online resources (e....,45.0,26.0,C#;HTML/CSS;JavaScript;PowerShell;SQL,C#;HTML/CSS;JavaScript;PowerShell;SQL,ASP.NET;ASP.NET CORE;Blazor;jQuery,ASP.NET;ASP.NET CORE;Blazor,NaN,NaN,NaN,"Employed, full-time",Remote,"Developer, full-stack",6.0,Manufacturing
50614,Argentina,35-44 years old,Some college/university study without earning ...,Books / Physical media;Other online resources ...,15.0,5.0,Bash/Shell (all shells);Elixir;Go;HTML/CSS;Jav...,Bash/Shell (all shells);Elixir;HTML/CSS;JavaSc...,Phoenix,Phoenix,Writing code;Testing code,Learning about a codebase;Documenting code;Deb...,Project planning;Generating content or synthet...,"Employed, full-time",Remote,Cloud infrastructure engineer,7.0,Software Development

### Data preparation and cleaning is complete now the data is ready for the visualization and analysis.